services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.0
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - path.repo=/usr/share/elasticsearch/backups
      - "ES_JAVA_OPTS=-Xms2g -Xmx2g"
    ports:
      - "9200:9200"
    volumes:
      - esdata:/usr/share/elasticsearch/data
      - ../esbackups:/usr/share/elasticsearch/backups
    mem_limit: 4g
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://elasticsearch:9200/_cluster/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5

  backend:
    extra_hosts:
      - "host.docker.internal:host-gateway"
    build:
      context: ..
      dockerfile: webapp/Dockerfile.backend
    ports:
      - "8000:8000"
    volumes:
      - ..:/chatbot
    environment:
      - PYTHONUNBUFFERED=1
      - ES_URL=http://elasticsearch:9200
      - OLLAMA_URL=http://ollama:11434/api/generate
      - PYTHONPATH=/chatbot:/chatbot/rag_scripts/rag_chatbot
    depends_on:
      elasticsearch:
        condition: service_healthy
    restart: unless-stopped
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  frontend:
    build:
      context: ..
      dockerfile: webapp/Dockerfile.frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    restart: unless-stopped

  ollama:
    image: ollama/ollama
    volumes:
      - ollama_data:/root/.ollama
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

volumes:
  esdata:
  ollama_data: